<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- See common Gazebo pugins in the world file -->
    
    <!--
        To re-generate robot.urdf.generated.xml manually for troubleshooting:
          cd ~/robot_ws
          colcon build
          xacro install/articubot_one/share/articubot_one/robots/seggy/description/robot.urdf.xacro sim_mode:=false > src/articubot_one/robots/seggy/description/robot.urdf.generated.xml
    -->

    <xacro:include filename="../../../description/common_properties.xacro" />

    <xacro:include filename="robot_core.xacro" />

    <xacro:property name="imu_offset_x" value="${wheel_offset_x - 0.0}"/>
    <xacro:property name="imu_offset_z" value="${chassis_top_offset + 0.01}"/>
    <xacro:property name="imu_visual_size" value="0.01"/>
    <xacro:include filename="../../../description/imu.xacro" />

    <!-- using arguments here, as that allows overriding default values -->
    <xacro:arg name="lidar_offset_x" default="${wheel_offset_x + 0.05}"/>
    <xacro:arg name="lidar_offset_z" default="0.27"/>
    <xacro:arg name="lidar_min_angle" default="-${pi * 0.95}"/>
    <xacro:arg name="lidar_max_angle" default="${pi * 0.95}"/>
    <!-- xacro:arg name="lidar_pedestal_height" default="0.04"/ -->
    <xacro:include filename="../../../description/lidar.xacro" />

    <xacro:property name="open_circuit_voltage" value="12.592"/>
    <xacro:property name="battery_capacity" value="20.0"/>
    <xacro:include filename="../../../description/battery.xacro" />

    <xacro:property name="camera_oakd_offset_x" value="${wheel_offset_x + 0.03}"/>
    <xacro:property name="camera_oakd_offset_z" value="${chassis_top_offset + 0.115}"/>
    <!-- URDF definitions for OAK-D Lite camera and Gazebo sim sensor -->
    <xacro:include filename="../../../description/camera_oakd.xacro"/>

    <!-- add a visual - mount for OAK-D Lite -->
    <joint name="camera_oakd_mount_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="camera_oakd_mount_link"/>
        <origin xyz="${camera_oakd_offset_x - 0.01} 0 ${camera_oakd_offset_z - 0.057}" rpy="0 0 0"/>
    </joint>

    <link name="camera_oakd_mount_link">
            <visual>
            <geometry>
                <box size="0.002 0.07 0.115"/>
            </geometry>
            <material name="body_color"/>
        </visual>
    </link>

    <xacro:unless value="$(arg sim_mode)">
        <!-- real OAK-D Lite camera -->
        <xacro:arg name="parent_frame" default="camera_oakd_link_optical" />
        <xacro:include filename="$(find depthai_descriptions)/urdf/depthai_descr.urdf.xacro"/>
    </xacro:unless>
    
    <xacro:include filename="ros2_control.xacro" />

</robot>