<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- ********************* The Battery (Power System) SETUP *********************************  -->

  <!-- See https://docs.ros.org/en/jazzy/p/battery_state_broadcaster/
           https://github.com/gazebosim/ros_gz/blob/jazzy/ros_gz_sim_demos/README.md#battery
           /opt/ros/jazzy/opt/gz_sim_vendor/share/gz/gz-sim8/worlds/linear_battery_demo.sdf
           /opt/ros/jazzy/share/ros_gz_sim_demos
           https://gazebosim.org/api/sim/7/battery.html

      Note: This is generic SIM battery. Copy to robots/<robot_model>/description/. and customize.
            Modify robot.urdf.xacro to include the customized version. 
  -->

  <ros2_control name="BatteryState" type="diffdrive_arduino/DiffDriveArduino">
    <sensor name="main_battery">
        <!-- See diffdrive_arduino/src/diffdrive_arduino.cpp export_state_interfaces()-->
        <state_interface name="voltage"/>
        <state_interface name="temperature"/>
        <state_interface name="current"/>
        <state_interface name="charge"/>
        <state_interface name="capacity"/>
        <state_interface name="percentage"/>
        <state_interface name="power_supply_status"/>
        <state_interface name="power_supply_health"/>
        <state_interface name="present"/>
   </sensor>
  </ros2_control>

  <gazebo>
    <plugin name="gz::sim::systems::LinearBatteryPlugin" filename="gz-sim-linearbatteryplugin-system">
      <!--Li-ion battery spec from LIR18650 datasheet-->
      <battery_name>lithium_battery</battery_name>
      <voltage>${open_circuit_voltage}</voltage>
      <open_circuit_voltage_constant_coef>${open_circuit_voltage}</open_circuit_voltage_constant_coef>
      <open_circuit_voltage_linear_coef>-2.0</open_circuit_voltage_linear_coef>
      <initial_charge>${battery_capacity * 0.9}</initial_charge>
      <capacity>${battery_capacity}</capacity>
      <resistance>0.07</resistance>
      <power_load>6.6</power_load>
      <smooth_current_tau>2.0</smooth_current_tau>
      <!-- if "fix_issue_225" is true, percentage is reported in 1..100 range which is wrong.
               see https://github.com/gazebosim/gz-sim/issues/225 -->
      <fix_issue_225>false</fix_issue_225>
      <!-- https://github.com/gazebosim/gz-sim/pull/2696 -->
      <invert_current_sign>true</invert_current_sign>
      <enable_recharge>true</enable_recharge>
      <!-- charging I = c / t, discharging I = P / V,
        charging I should be > discharging I -->
      <charging_time>3.0</charging_time>
      <!-- Consumer-specific -->
      <soc_threshold>0.51</soc_threshold>
      <power_load>2.1</power_load>
      <recharge_by_topic>true</recharge_by_topic>
      <start_on_motion>true</start_on_motion>
    </plugin>
  </gazebo>

</robot>
