<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- See:
             - https://github.com/slgrobotics/ros2_inference_stereo/blob/main/README.md
             - https://github.com/slgrobotics/articubot_one/wiki/Visual-SLAM-with-RTAB%E2%80%90Map
    -->

    <!-- parameters: camera_stereo_offset_x
                     camera_stereo_offset_z -->

    <joint name="camera_stereo_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="camera_stereo_link"/>
        <origin xyz="${camera_stereo_offset_x} 0 ${camera_stereo_offset_z}" rpy="0 0 0"/>
    </joint>

    <link name="camera_stereo_link">
        <visual>
            <geometry>
                <box size="0.05 0.10 0.05"/>
            </geometry>
            <material name="sensor_blue"/>
        </visual>
        <visual name="stereo_camera_visual_lens_right">
            <origin xyz="0.010 -0.032 0.006" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.04"/>
            </geometry>
            <material name="sensor_lens_blue"/>
        </visual>
        <visual name="stereo_camera_visual_lens_left">
            <origin xyz="0.010 0.032 0.006" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.04"/>
            </geometry>
            <material name="sensor_lens_blue"/>
        </visual>
    </link>

    <!-- REP-103 defines a Right-Handed, Z-Up coordinate system.
        - X-Axis (Red in RViz):   Points Forward (the direction the robot drives)
        - Y-Axis (Green in RViz): Points Left
        - Z-Axis (Blue in RViz):  Points Up (against gravity)
      The Gazebo camera is operating in that frame, with no rotation needed
    -->

    <joint name="camera_stereo_head_joint" type="fixed">
        <parent link="camera_stereo_link"/>
        <child link="camera_stereo_link_head"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="camera_stereo_link_head">
    </link>

    <!--  The Optical Coordinate System (For Cameras and Sensors)
      Cameras view the world from a pixel grid perspective rather than a driving perspective.
      Because of this, REP-103 defines a completely different axis standard for optical frames:
      When looking out through the camera lens:
        - Z-Axis: Points Forward (into the scene, acting as the Depth axis)
        - X-Axis: Points Right   (horizontal pixel axis)
        - Y-Axis: Points Down    (vertical pixel axis)
      RTAB-Map relies on this standard to calculate visual odometry and project depth pixels into a 3D world
    -->

    <joint name="camera_stereo_optical_joint" type="fixed">
        <parent link="camera_stereo_link"/>
        <child link="camera_stereo_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_stereo_link_optical">
    </link>

    <!-- gz model -m dragger -s depth_camera -->
    <gazebo reference="camera_stereo_link_head">
      <!-- This sensor type is optimized for use with RTAB-Map on Dragger and Seggy robots
           See https://github.com/slgrobotics/articubot_one/wiki/Visual-SLAM-with-RTAB%E2%80%90Map
               https://github.com/slgrobotics/ros2_inference_stereo -->
      <sensor name="rgbd_camera" type="rgbd">

        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <visualize>true</visualize>

        <topic>/gz_camera_stereo</topic>
        <camera_info_topic>/gz_camera_stereo/camera_info</camera_info_topic>

        <camera>

          <!-- Dragger has two "Arducam 8MP IMX219 Camera Module for Raspberry Pi, with Low Distortion 105°(D) FOV M12 Lens"
               a 105° diagonal FOV corresponds approximately to:
                  - Horizontal: ≈ 88–90°
                  - Vertical: ≈ 66–68°
                  - 1.56 rad ≈ 89.4° -->
          <horizontal_fov>1.56</horizontal_fov>

          <image>
            <!-- Use full size 820x616 or a 0.5 scale 408x308 -->
            <width>820</width>
            <height>616</height>
            <format>R8G8B8</format>
          </image>

          <clip>
            <near>0.1</near>
            <far>5.0</far>
          </clip>

          <optical_frame_id>camera_stereo_link_optical</optical_frame_id>

          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.003</stddev>
          </noise>

        </camera>

      </sensor>
    </gazebo>

</robot>