<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- See:
             - https://github.com/slgrobotics/ros2_inference_stereo/blob/main/README.md
             - https://github.com/slgrobotics/articubot_one/wiki/Visual-SLAM-with-RTAB%E2%80%90Map
    -->

    <!-- parameters: camera_stereo_offset_x
                     camera_stereo_offset_z -->

    <joint name="camera_stereo_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="camera_stereo_link"/>
        <origin xyz="${camera_stereo_offset_x} 0 ${camera_stereo_offset_z}" rpy="0 0 0"/>
    </joint>

    <link name="camera_stereo_link">
        <visual>
            <geometry>
                <box size="0.05 0.10 0.05"/>
            </geometry>
            <material name="sensor_blue"/>
        </visual>
        <visual name="stereo_camera_visual_lens_right">
            <origin xyz="0.010 -0.032 0.006" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.04"/>
            </geometry>
            <material name="sensor_lens_blue"/>
        </visual>
        <visual name="stereo_camera_visual_lens_left">
            <origin xyz="0.010 0.032 0.006" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.04"/>
            </geometry>
            <material name="sensor_lens_blue"/>
        </visual>
    </link>

    <joint name="camera_stereo_optical_joint" type="fixed">
        <parent link="camera_stereo_link"/>
        <child link="camera_stereo_link_optical"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="camera_stereo_link_optical">
    </link>

    <!-- gz model -m dragger -s depth_camera -->
    <gazebo reference="camera_stereo_link_optical">
      <!-- This sensor type is optimized for use with RTAB-Map on Dragger and Seggy ronots
           See https://github.com/slgrobotics/articubot_one/wiki/Visual-SLAM-with-RTAB%E2%80%90Map -->
      <sensor name="rgbd_camera" type="rgbd">

        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <visualize>true</visualize>

        <topic>/camera_stereo</topic>
        <camera_info_topic>/camera_stereo/camera_info</camera_info_topic>

        <camera>

          <horizontal_fov>1.047</horizontal_fov>

          <image>
            <!-- Use full size 820x616 or a 0.5 scale 408x308 -->
            <width>820</width>
            <height>616</height>
            <format>R8G8B8</format>
          </image>

          <clip>
            <near>0.1</near>
            <far>8.0</far>
          </clip>

          <optical_frame_id>camera_stereo_link_optical</optical_frame_id>

          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.005</stddev>
          </noise>

        </camera>

      </sensor>
    </gazebo>

</robot>