<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- not used if use_ros2_control=true -->

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Wheel geometry information - see my_controllers.yaml -->

        </plugin>
    </gazebo>

</robot>