<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:property name="gps_offset_x" value="-0.1"/>
    <xacro:property name="gps_offset_z" value="0.65"/>

    <joint name="gps_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gps_link"/>
        <origin xyz="${gps_offset_x} 0 ${gps_offset_z}" rpy="0 0 3.1459"/>
    </joint>

    <link name="gps_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.02"/>
            </geometry>
            <material name="sensor_yellow"/>
        </visual>
        <visual>
            <origin xyz="0 0 -0.1"/>
            <geometry>
                <cylinder radius="0.01" length="0.2"/>
            </geometry>
            <material name="sensor_yellow"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
    </link>
	
	<!-- See https://medium.com/@bytesrobotics/a-review-of-the-ros2-urdf-gazebo-sensor-91e947c633d7 -->

	<gazebo reference="gps_link">
		<sensor name="gps_sensor" type="gps">
			<always_on>true</always_on>
			<pose> 0 0 0 0 0 0 </pose>
			<visualize>false</visualize>
			<update_rate>5</update_rate>
			<!-- plugin name="gps_controller" filename="libgazebo_ros_gps_sensor.so">
				<ros>
					< !- - <namespace>/br</namespace> - - >
					<remapping>gps_controller/out:=gps</remapping>
				</ros>
				<frame_name>gps_link</frame_name>
			</plugin -->
		</sensor>
	</gazebo>

</robot>