<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="gps_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="gps_link"/>
        <origin xyz="${gps_offset_x} ${gps_offset_y} ${gps_offset_z}" rpy="0 0 0"/>
    </joint>

    <link name="gps_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.02"/>
            </geometry>
            <material name="sensor_yellow"/>
        </visual>
        <visual>
            <origin xyz="0 0 -0.1"/>
            <geometry>
                <cylinder radius="0.01" length="0.2"/>
            </geometry>
            <material name="sensor_yellow"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
    </link>
	
	<!-- See https://medium.com/@bytesrobotics/a-review-of-the-ros2-urdf-gazebo-sensor-91e947c633d7
             https://docs.nav2.org/tutorials/docs/navigation2_with_gps.html
             http://sdformat.org/spec?elem=sensor -->

    <!-- gz model -m dragger -s gps_sensor -->
	<gazebo reference="gps_link">
		<sensor name="gps_sensor" type="gps">
			<always_on>true</always_on>
            <!-- topic defined in .../config/gz_ros_bridge.yaml -->
            <topic>gz_navsat/fix</topic>
            <!-- future Gazebo versions might require "<frame_id>" here. Must reference an actual link in .xacro -->
            <gz_frame_id>gps_link</gz_frame_id>
            <frame_id>gps_link</frame_id>
			<pose> 0 0 0 0 0 0 </pose>
			<visualize>false</visualize>
			<update_rate>5</update_rate>
            <gps>
                <position_sensing>
                    <horizontal>
                        <noise type="gaussian_quantized">
                            <mean>0.0</mean>
                            <!-- the standard deviation of the Gaussian distribution from which noise values are drawn -->
                            <stddev>1.0e-6</stddev>
                            <!-- the mean of the Gaussian distribution from which bias values are drawn -->
                            <bias_mean>0.0</bias_mean>
                            <!-- the standard deviation of the Gaussian distribution from which bias values are drawn -->
                            <bias_stddev>1.0e-6</bias_stddev>
                            <!-- the standard deviation of the noise used to drive a process to model slow variations in a sensor bias -->
                            <dynamic_bias_stddev>1.0e-6</dynamic_bias_stddev>
                            <!-- the correlation time in seconds of the noise used to drive a process to model slow variations in a sensor bias.
                                 A typical value, when used, would be on the order of 3600 seconds (1 hour) -->
                            <dynamic_bias_correlation_time>3600</dynamic_bias_correlation_time>
                            <!-- For type "gaussian_quantized", the precision of output signals.
                                 A value of zero implies infinite precision / no quantization -->
                            <precision>2.0e-7</precision>
                        </noise>
                    </horizontal>
                    <vertical>
                        <noise type="gaussian_quantized">
                            <mean>0.0</mean>
                            <stddev>1.0e-16</stddev>
                            <bias_mean>0.0</bias_mean>
                            <bias_stddev>0.0</bias_stddev>
                            <dynamic_bias_stddev>0.0</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>3600</dynamic_bias_correlation_time>
                            <precision>0.0</precision>
                        </noise>
                    </vertical>
                </position_sensing>
            </gps>
		</sensor>
	</gazebo>

</robot>