<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:property name="imu_offset_x" value="${wheel_offset_x}"/>
    <xacro:property name="imu_offset_z" value="0.04"/>

    <!-- *********************** IMU SETUP *********************************  -->
    <!-- Each sensor must be attached to a link.                              -->

    <joint name="imu_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="imu_link"/>
        <!-- we place IMU between the wheels -->
        <origin xyz="${imu_offset_x} 0 ${imu_offset_z}" rpy="0 0 0"/>
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <material name="sensor_blue"/>
        </visual>
    </link>

    <!-- gz model -m dragger -s imu_sensor -->
    <gazebo reference="imu_link">
        <sensor name="imu_link" type="imu">
        <always_on>1</always_on>
        <topic>imu/data</topic>
        <!-- future Gazebo versions might require "<frame_id>" here. Must reference an actual link in .xacro -->
        <gz_frame_id>imu_link</gz_frame_id>
        <update_rate>250</update_rate>
            <imu>
                <orientation_reference_frame>
                  <localization>ENU</localization>
                  <!-- custom_rpy parent_frame='world'>1.570795 0 0</custom_rpy -->
                </orientation_reference_frame>
                <enable_orientation>1</enable_orientation>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0</mean>
                            <stddev>0.009</stddev>
                            <bias_mean>0.00075</bias_mean>
                            <bias_stddev>0.005</bias_stddev>
                            <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                            <precision>0.00025</precision>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0</mean>
                            <stddev>0.009</stddev>
                            <bias_mean>0.00075</bias_mean>
                            <bias_stddev>0.005</bias_stddev>
                            <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                            <precision>0.00025</precision>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0</mean>
                            <stddev>0.009</stddev>
                            <bias_mean>0.00075</bias_mean>
                            <bias_stddev>0.005</bias_stddev>
                            <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                            <precision>0.00025</precision>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0</mean>
                            <stddev>0.021</stddev>
                            <bias_mean>0.05</bias_mean>
                            <bias_stddev>0.0075</bias_stddev>
                            <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                            <precision>0.005</precision>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0</mean>
                            <stddev>0.021</stddev>
                            <bias_mean>0.05</bias_mean>
                            <bias_stddev>0.0075</bias_stddev>
                            <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                            <precision>0.005</precision>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0</mean>
                            <stddev>0.021</stddev>
                            <bias_mean>0.05</bias_mean>
                            <bias_stddev>0.0075</bias_stddev>
                            <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                            <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                            <precision>0.005</precision>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

</robot>