# See https://github.com/ros-teleop/twist_mux/tree/rolling/config

twist_mux:
  ros__parameters:
    use_stamped: false
    
    topics:
      navigation:
        topic   : cmd_vel_nav
        timeout : 0.5
        priority: 20
      joystick:
        topic   : cmd_vel_joy
        timeout : 0.5
        priority: 100
      tracker:
        topic   : cmd_vel_tracker
        timeout : 0.5
        priority: 30
      keyboard:
        topic   : key_vel
        timeout : 0.5
        priority: 90
      tablet:
        topic   : tab_vel
        timeout : 0.5
        priority: 100

    locks:
      pause:
        topic   : pause_navigation
        timeout : 0.0
        priority: 100
      loop_closure:
        topic   : stop_closing_loop
        timeout : 0.0
        priority: 200
      joystick :
        topic   : joy_priority
        timeout : 0.0
        priority: 100