<?xml version="1.0" ?>
<robot name="create_1" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="create_base.urdf.xacro" />

  <xacro:property name="imu_offset_x" value="-0.04"/>
  <xacro:property name="imu_offset_z" value="0"/>
  <xacro:property name="imu_visual_size" value="0.01"/>
  <xacro:include filename="../../../description/imu.xacro" />

  <xacro:property name="laser_offset_x" value="0.085"/>
  <xacro:property name="laser_offset_z" value="0.033"/>

  <xacro:include filename="create_sensors.urdf.xacro" />

  <!-- wheel_separation - distance between left and right wheels, defined in ~/create_robot_ws/src/libcreate/src/types.cpp -->

  <xacro:create_base wheel_separation="0.258" base_diameter="0.3302" wheel_radius="0.033" wheel_width="0.024" mass_kg="3.5">
    <mesh filename="package://articubot_one/assets/meshes/create_1.dae" />
  </xacro:create_base>

</robot>
