<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- See common Gazebo pugins in the world file -->
    
    <!--
        To re-generate robot.urdf.generated.xml manually for troubleshooting:
          cd ~/robot_ws
          colcon build
          xacro install/articubot_one/share/articubot_one/robots/turtle/description/robot.urdf.xacro sim_mode:=true > src/articubot_one/robots/turtle/description/robot.urdf.generated.xml
    -->

    <!-- See https://github.com/ROBOTIS-GIT/turtlebot3/tree/main/turtlebot3_description/urdf
             https://github.com/slgrobotics/turtlebot3/commit/3df7ba0ea8944014ee9d2f29a438f830e2a0a031#diff-0de49a4761b9e2ca43e7f6e85e6f022224b347a9d374b30d4bf45ef4cc2fcf8b
             ~/turtlebot3_ws/src/turtlebot3/turtlebot3/turtlebot3_description/urdf  -->

    <!-- xacro:include filename="../../../description/inertial_macros.xacro"/ -->

    <xacro:arg name="sim_mode" default="false"/>

    <!-- xacro:include filename="common_properties.urdf" / -->

    <material name="Green">
        <color rgba="0.0 0.8 0.0 1.0"/>
    </material>

    <xacro:include filename="create_1.urdf.xacro" />

    <!-- xacro:include filename="../../../description/imu.xacro" />
    <xacro:include filename="../../../description/magnetometer.xacro" />
    <xacro:include filename="../../../description/turtle_sensors.xacro" / -->

</robot>