<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- See common Gazebo pugins in the world file -->
    
    <!--
        To re-generate robot.urdf.generated.xml manually for troubleshooting:
          cd ~/robot_ws
          colcon build
          xacro install/articubot_one/share/articubot_one/robots/stingray/description/robot.urdf.xacro sim_mode:=false > src/articubot_one/robots/stingray/description/robot.urdf.generated.xml
    -->

    <!-- 
             The *.xacro files are moved here because robot_description topic is published on the Desktop, not the robot RPi
    -->

    <xacro:include filename="../../../description/inertial_macros.xacro" />

    <xacro:include filename="../../../description/common_properties.xacro" />

    <xacro:include filename="stingray_properties.xacro" />
    <xacro:include filename="robot_core.xacro" />

    <xacro:property name="imu_offset_x" value="-0.04"/>
    <xacro:property name="imu_offset_z" value="0"/>
    <xacro:property name="imu_visual_size" value="0.01"/>
    <xacro:include filename="../../../description/imu.xacro" />

    <xacro:property name="laser_offset_x" value="0.085"/>
    <xacro:property name="laser_offset_z" value="0.033"/>

    <xacro:include filename="stingray_depth_camera.xacro" />
    <xacro:include filename="stingray_lidar.urdf.xacro" />

    <xacro:include filename="ros2_control.xacro" />

    <xacro:property name="open_circuit_voltage" value="14.0"/>
    <xacro:property name="battery_capacity" value="2.5"/>
    <xacro:include filename="../../../description/battery.xacro" />

</robot>