<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="stingrayRobot" type="system">

        <!-- Wheel geometry information - see controllers.yaml -->

        <hardware>
            <xacro:if value="$(arg sim_mode)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
        </hardware>

        <joint name="left_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>

        <joint name="right_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        
    </ros2_control>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">

            <parameters>/home/ubuntu/ros_ws/install/articubot_one/share/articubot_one/robots/stingray/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
